@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.header__logo {
  display: inline-block;
}

.header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 50px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 25px;
}

.header__link {
  margin-bottom: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19x;
  text-transform: uppercase;
  transition: 0.3s all linear;
}
.header__link:hover {
  color: #FF7D44;
}

.header__link:hover {
  color: #FF7D44;
}

.header__phone-link {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 10px;
}
.header__phone-link svg > rect, .header__phone-link svg > path {
  transition: 0.3s all linear;
}
.header__phone-link:hover > svg > rect {
  fill: white;
}
.header__phone-link:hover > svg > path {
  fill: #FF7D44;
}
.header__phone-link:hover > .header__phone-number {
  color: #FF7D44;
}

.header__phone-number {
  margin-bottom: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19x;
  text-transform: uppercase;
  transition: 0.3s all linear;
}

.hero-section {
  padding: 180px 0 93px;
  height: 120vh;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.hero__form {
  width: 449px;
  padding: 20px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(58, 58, 58, 0.5019607843);
}

.form__title-wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.form__title {
  margin-bottom: 8px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}
.form__text{
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
.form__label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form__label:nth-child(4) > .form__input {
  background-image: url("../images/calendar.svg");
}

.form__span {
  margin-bottom: 8px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
}

.form__input {
  padding: 18.5px 3px 18.5px 46px;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;
  background-image: url(../images/location-img.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
}
.form__input:focus {
  border: 1px solid #FF7D44;
  box-shadow: 1px 1px 5px 1px #FF7D44;
}

.form__radio-wrapper {
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.form__radio-wrapper > span {
  display: inline-block;
  margin-bottom: 8px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
}

.form__input-radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.radio__label {
  width: 192px;
  padding: 15px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 12px;
}

.radio__circle {
  width: 26px;
  height: 26px;
  border: 1px solid #D3D3D3;
  border-radius: 50%;
  position: relative;
}
.radio__circle::before {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 50%;
}

.radio__check-input:checked ~ .radio__circle::before {
  background-color: #FF7D44;
}

.radio__content {
  margin-bottom: none;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;
}

.hero__content-wrapper {
  width: 555px;
  margin-bottom: 225px;
}

.hero__content-top-wrapper {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 10px;
}

.hero__content-top-wrapper > img {
  display: inline-block;
}

.hero__content-top-wrapper > p {
  margin-bottom: 0px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
}

.hero__title {
  margin-bottom: 20px;
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  text-transform: none;
}

.hero__text {
  margin-bottom: 0px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.hero__btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #FF7D44;
  border: 1px solid transparent;
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: none;
  transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.hero__btn:hover {
  border: 1px solid #FF7D44;
  color: #FF7D44;
  background-color: transparent;
  box-shadow: 0 0 10px 0 #FF7D44;
}

.service-section {
  padding: 118px 0 173px;
  background-image: url(../images/service-top-bg.png), url(../images/service-bg.png);
  background-repeat: no-repeat;
  background-size: 921px 860px, 921px 860px;
  background-position: left top, right bottom;
}

.service__content-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.service__title {
  margin-bottom: 8px;
  color: black;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-transform: capitalize;
}

.service__text {
  margin-bottom: 0;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.service__list {
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 24px;
  flex-wrap: wrap;
}

.service__item {
  width: 344px;
  height: 458px;
  position: relative;
  overflow: hidden;
}
.service__item:hover .service__img {
  height: 50%;
}
.service__item:hover .service__hide-wrapper {
  bottom: 0;
  height: 50%;
}

.service__img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  transition: 0.3s all ease-out;
}

.service__item-wrapper {
  padding: 20px;
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.service__subtitle {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 24px;
  font-weight: 700;
  line-height: 46px;
  text-transform: capitalize;
}

.service__item-link {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 7px;
}

.service__item-link > p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
}

.service__hide-wrapper {
  position: absolute;
  bottom: -100%;
  height: 50%;
  padding: 20px;
  z-index: 5;
  transition: 0.3s all ease-in-out;
  background-color: white;
}
.service__hide-wrapper > h3 {
  margin-bottom: 10px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-transform: capitalize;
}
.service__hide-wrapper > p {
  margin-bottom: 15px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-transform: capitalize;
}

.service__hide-link {
  color: #FF7D44;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 6.5px;
}

.work-section {
  margin-bottom: 100px;
  padding: 65px 0;
  background-image: url(../images/work-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.work__content-wrapper {
  width: 300px;
}

.work__title {
  margin-bottom: 20px;
  color: white;
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
  text-transform: none;
}

.work__text {
  margin-bottom: 0;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: none;
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 55px;
}

.work__item {
  width: 102px;
  text-align: center;
}

.work__item-span {
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 8px;
  background-color: #D9D9D9;
}

.work__item-strong {
  display: inline-block;
  margin-bottom: 15px;
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  text-transform: capitalize;
}

.work__text {
  margin-bottom: 0;
  color: white;
  font-size: 11.5px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
  text-align: center;
}

.about-section {
  margin: 100px 0;
}

.About {
  display: flex;
  align-items: Center;
  justify-content: space-between;
  gap: 25px;
}

.about__wrapper {
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 50px;
  flex-direction: column;
}

.about-title__wrapper {
  padding-top: 37px;
  padding-left: 26px;
  text-align: left;
}

.top {
  padding-left: 0;
}

.about-title__wrapper > strong {
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-transform: capitalize;
  display: inline-block;
}

.about-title__wrapper > strong > span {
  padding-left: 5px;
  color: #FF7D44;
}

.about-title__wrapper > p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-transform: none;
  color: rgba(0, 0, 0, 0.6784313725);
}
.method-section {
  margin: 75px 0 196px;
  background-image: url(../images/method-top-bg.png),url(../images/method-bottom-bg.png);
  background-repeat: no-repeat;
  background-size: 450px 112px,450px 506px;
  background-position: right top,left bottom;
}
.methon__title-wrapper {
  width: 798px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
.method__title{
  margin-bottom: 15px;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;

}
.method__title > span{
  color: #FF7D44;
}
.method__text{
  color: rgba(0, 0, 0, 0.68);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.method__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.method__item{
  display: flex;
  align-items: center;
  gap: 24px;
}
.method__item-img-link{
  position: absolute;
  z-index: 2;
  width: 151px;
  padding: 16px 0;
  text-align: center;
  background-color: #FF7D44;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;

}
.method__item-img {
  position: relative;
  z-index: 1;
}
.method__item:nth-child(2){
  display: flex;
  flex-direction: row-reverse;
}
.method__item-text-wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.method__subtitle{
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
}
.method__item-text{
    margin-bottom: 30px;
    color: #000000AD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
.method__item-btn{
  width: 259px;
  padding: 15px 0;
  text-align: center;
  border: 1px solid rgb(255, 125, 68);
  border-radius: 3px; 
  color: #000000AD;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-transform: uppercase;
  transition: 0.3s all ;
}
.method__item-btn:hover{
  border: 1px solid transparent;
  background-color: #FF7D44;
  color: white;
}

.questions-seection {
  padding: 80px 0 75px 0;
}

.questions__title-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

.questions__title {
  margin-bottom: 15px;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
}

.questions__title > span {
  padding-right: 5px;
  color: #FF7D44;
}

.questions__text {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.questions__list {
  width: 732px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.questions__item {
  padding-bottom: 25px;
  overflow: hidden;
  border-bottom: 1px solid #D9D9D9;
}

.dropdown__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__subtitle {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
}

.dropdown__line-wrapper {
  position: relative;
  width: 25px;
  height: 25px;
}

.dropdown__line {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  transition: 0.3s all linear;
}

.line2 {
  transform: rotate(90deg);
}

.twoitemline2 {
  transform: rotate(90deg);
}

.threeitemline3 {
  transform: rotate(90deg);
}

.fouritemline4 {
  transform: rotate(90deg);
}

.dropdown__hide-content {
  padding-top: 0;
  height: 0;
  opacity: 0;
  transition: 0.3s all linear;
}

.dropdown__hide-text {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.show {
  padding-top: 13px;
  height: 72px;
  opacity: 1;
}

.show2 {
  padding-top: 13px;
  height: 72px;
  opacity: 1;
}

.show3 {
  padding-top: 13px;
  height: 72px;
  opacity: 1;
}

.show4 {
  padding-top: 13px;
  height: 72px;
  opacity: 1;
}

.rotate {
  transform: rotate(0deg);
}

.rotate2 {
  transform: rotate(0deg);
}

.rotate3 {
  transform: rotate(0deg);
}

.rotate4 {
  transform: rotate(0deg);
}/*# sourceMappingURL=main.css.map */
.site-footer {
  padding: 50px 0;
  background-color: #282828;
}
.footer {
  display: flex;
  align-items: center;
}
.footer__info-wrapper {
  margin-right: 130px;
  display: flex;
  flex-direction: column;
}
.footer__info-wrapper > img {
  display: inline-block;
  margin-bottom: 16px;
}
.footer__info-wrapper > p {
  margin-bottom: 54.7px;
  color: #FFFFFFAD;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
.footer__info-wrapper > a{
  color: #FFFFFF61;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
}
.footer__list {
  margin-right: 110px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__item-strong {
  padding-bottom: 8px;
  display: inline-block;
  color: #FFFFFFDE;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
}
.footer__item-link {
  color: #FFFFFFAD;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}