.about-section {
    margin: 100px 0;
}
.About {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.about__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-title__wrapper {
    padding-top: 37px;
    padding-left: 26px;
    text-align: left;
}
.top{
    padding-left: 0;
}
.about-title__wrapper > strong {
    margin-bottom: 16px;
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0%;
    color: #000000DE;
}
.about-title__wrapper > strong > span {
    padding-left: 5px;
    color:#FF7D44;
}
.about-title__wrapper > p{
    color:#000000AD;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0%;
}