.about-section {
    margin: 100px 0;
}
.About {
    @include display ($items:Center,$space:space-between,$gap:25px);
}
.about__wrapper {
    @include display ($items:none,$space:none,$gap:50px);
    flex-direction: column;
}
.about-title__wrapper {
    padding-top: 37px;
    padding-left: 26px;
    text-align: left;
}
.top{
    padding-left: 0;
}
.about-title__wrapper > strong {
    @include textstyle($mb:16px,$clr:#000000DE,$fs:38px,$fw:700,$lh:46px,$case:capitalize);
    display: inline-block;
}
.about-title__wrapper > strong > span {
    padding-left: 5px;
    color:#FF7D44;
}
.about-title__wrapper > p{
    @include textstyle($mb:0,$clr:#000000AD,$fs:16px,$fw:300,$lh:24px,$case:none);
    color:#000000AD;
}