// Header styles start
.site-header {
    padding: 30px 0;
    background-color: #0000004D;
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

}

.header {
   @include display($items:center,$space:space-between,$gap:0,)
}

.header__logo {
    display: inline-block;
}

.header__content-wrapper {
    @include display($items:center,$space:none,$gap:50px,)
}

.header__list {
    @include display($items:center,$space:none,$gap:25px,)
}

.header__link {
    @include textstyle($mb:none,$clr:white,$fs:16px,$fw:500,$lh:19x,$case:uppercase);
    transition: 0.3s all linear;

    &:hover {
        color: #FF7D44;
    }
}

.header__link:hover {
    color: #FF7D44;
}

.header__phone-link {
    @include display($items:center,$space:none,$gap:10px,);

    & svg>rect,
    & svg>path {
        transition: 0.3s all linear;
    }

    &:hover>svg>rect {
        fill: white;
    }

    &:hover>svg>path {
        fill: #FF7D44;
    }

    &:hover>.header__phone-number {
        color: #FF7D44;
    }
}

.header__phone-number {
    @include textstyle($mb:none,$clr:white,$fs:16px,$fw:500,$lh:19x,$case:uppercase);
    transition: 0.3s all linear;
}

// Header styles end