// hero section styles start
.hero-section {
    padding: 180px 0 93px;
    height: 120vh;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero__form {
    width: 449px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: #3A3A3A80;
}

.form__title-wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.form__title {
    margin-bottom: 8px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.form__text {
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}

.form__label {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form__label:nth-child(4)>.form__input {
    background-image: url(../images/calendar.svg);
}

.form__span {
    margin-bottom: 8px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
}

.form__input {
    padding: 18.5px 3px 18.5px 46px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    background-image: url(../images/location-img.svg);
    background-repeat: no-repeat;
    background-position: 12px center;

    &:focus {
        border: 1px solid #FF7D44;
        box-shadow: 1px 1px 5px 1px #FF7D44;
    }
}

.form__radio-wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid white;

}

.form__radio-wrapper>span {
    display: inline-block;
    margin-bottom: 8px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
}

.form__input-radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio__label {
    width: 192px;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__circle {
    width: 26px;
    height: 26px;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 3px;
        border-radius: 50%;
    }
}

.radio__check-input:checked~.radio__circle::before {
    background-color: #FF7D44;
}

.radio__content {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
}

.hero__content-wrapper {
    width: 555px;
    margin-bottom: 225px;
}

.hero__content-top-wrapper {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__content-top-wrapper>img {
    display: inline-block;
}

.hero__content-top-wrapper>p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-transform: uppercase;

}

.hero__title {
    margin-bottom: 20px;
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0%;
}

.hero__text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
.hero__btn{
    width: 100%;
    margin-top: 20px;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: #FF7D44;
    border: 1px solid transparent;
    color: white;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    transition: 0.3s all linear;
}
.hero__btn:hover{
    border: 1px solid #FF7D44;
    color: #FF7D44;
    background-color: transparent;
    box-shadow: 0 0 10px 0 #FF7D44;
}

// hero section styles end