// hero section styles start
.hero-section {
    padding: 180px 0 93px;
    height: 120vh;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero {
    @include display ($items:center,$space:space-between,$gap:0px);
}

.hero__form {
    width: 449px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: #3A3A3A80;
}

.form__title-wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.form__title {
    @include textstyle($mb:8px,$clr:white,$fs:30px,$fw:700,$lh:36px,$case:capitalize);
}

.form__text {
    @include textstyle($mb:20px,$clr:white,$fs:16px,$fw:400,$lh:19px,$case:start);
}

.form__label {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form__label:nth-child(4)>.form__input {
    background-image: url("../images/calendar.svg");
}

.form__span {
    @include textstyle($mb:8px,$clr:white,$fs:15px,$fw:400,$lh:18px,$case:capitalize);
}

.form__input {
    padding: 18.5px 3px 18.5px 46px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    background-image: url(../images/location-img.svg);
    background-repeat: no-repeat;
    background-position: 12px center;

    &:focus {
        border: 1px solid #FF7D44;
        box-shadow: 1px 1px 5px 1px #FF7D44;
    }
}

.form__radio-wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;

}

.form__radio-wrapper>span {
    display: inline-block;
    @include textstyle($mb:8px,$clr:white,$fs:15px,$fw:400,$lh:18px,$case:capitalize);
}

.form__input-radio-wrapper {
    @include display ($items:center,$space:space-between,$gap:0px);
}

.radio__label {
    width: 192px;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    @include display ($items:center,$space:none,$gap:12px);
}

.radio__circle {
    width: 26px;
    height: 26px;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 3px;
        border-radius: 50%;
    }
}

.radio__check-input:checked~.radio__circle::before {
    background-color: #FF7D44;
}

.radio__content {
    @include textstyle($mb:none,$clr:#000000DE,$fs:17px,$fw:400,$lh:21px,$case:capitalize);
}

.hero__content-wrapper {
    width: 555px;
    margin-bottom: 225px;
}

.hero__content-top-wrapper {
    margin-bottom: 12px;
    @include display ($items:center,$space:none,$gap:10px);
}

.hero__content-top-wrapper>img {
    display: inline-block;
}

.hero__content-top-wrapper>p {
    @include textstyle($mb:0px,$clr:white,$fs:14px,$fw:500,$lh:17px,$case:uppercase);
}

.hero__title {
    @include textstyle($mb:20px,$clr:white,$fs:56px,$fw:700,$lh:68px,$case:none);
}

.hero__text {
    @include textstyle($mb:0px,$clr:white,$fs:20px,$fw:400,$lh:24px,$case:none);
}
.hero__btn{
    @include buttonstyle($btn_w:100%,$btn_py:10px,$btn_br_radius:8px,$btn_bg-clr:#FF7D44,$btn_border_clr:transparent,$btn_text_clr:white,$btn_fs:17px,$btn_fw:500,$btn_case:none,$btn_lh:21px);
    transition: 0.3s all linear;
}
.hero__btn:hover{
    border: 1px solid #FF7D44;
    color: #FF7D44;
    background-color: transparent;
    box-shadow: 0 0 10px 0 #FF7D44;
}

// hero section styles end