.method-section {
    margin: 75px 0 196px;
    background-image: url(../images/method-top-bg.png),url(../images/method-bottom-bg.png);
    background-repeat: no-repeat;
    background-size: 450px 112px,450px 506px;
    background-position: right top,left bottom;
}
.methon__title-wrapper {
    width: 798px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}
.method__title {
    @include textstyle($mb:15px,$clr:#182F43,$fs:38px,$fw:700,$lh:46px,$case:capitalize);
    padding-left: 3px;
    & > span {
        color: #FF7D44;
    }
}
.method__text {
    @include textstyle($mb:15px,$clr:#000000AD,$fs:16px,$fw:400,$lh:24px,$case:none);
}
.method__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.method__item {
    @include display ($items:center,$space:space-between,$gap:24px);
}
.method__item-img-link{
    position: absolute;
    z-index: 2;
    width: 151px;
    padding: 16px 0;
    text-align: center;
    background-color: #FF7D44;
    @include textstyle($mb:0,$clr:rgb(37, 28, 28),$fs:16px,$fw:600,$lh:19px,$case:none);

}
.method__item-img {
    position: relative;
    z-index: 1;
}
.method__item:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
}
.method__item-text-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.method__subtitle {
    @include textstyle($mb:15px,$clr:#000000DE,$fs:24px,$fw:600,$lh:29px,$case:capitalize);
}
.method__item-text {
    @include textstyle($mb:30px,$clr:#000000AD,$fs:16px,$fw:400,$lh:24px,$case:none);
}
.method__item-btn {
    @include buttonstyle($btn_w:259px,$btn_p:15px,$btn_br_radius:3px,$btn_bg-clr:transparent,$btn_border_clr:#FF7D44,$btn_text_clr: #000000DE,$btn_fs:16px,$btn_fw:500,$btn_case:uppercase,$btn_lh:19px);

    &:hover{
        @include buttonstyle($btn_w:259px,$btn_p:15px,$btn_br_radius:3px,$btn_bg-clr:#FF7D44,$btn_border_clr:transparent,$btn_text_clr:white,$btn_fs:16px,$btn_fw:500,$btn_case:uppercase,$btn_lh:19px);
    }
}
