.work-section {
    margin-bottom: 100px;
    padding: 65px 0;
    background-image: url(../images/work-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.work {
    @include display ($items:center,$space:space-between,$gap:0);
}
.work__content-wrapper {
    width: 300px;
}
.work__title {
    @include textstyle($mb:20px,$clr:white,$fs:38px,$fw:600,$lh:40px,$case:none);
}
.work__text {
    @include textstyle($mb:0,$clr:white,$fs:16px,$fw:400,$lh:19px,$case:none);

}
.work__list {
    @include display ($items:center,$space:none,$gap:55px);
}
.work__item {
    width: 102px;
    text-align: center;
}
.work__item-span {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 8px;
    background-color: #D9D9D9;

}
.work__item-strong {
    display: inline-block;
    @include textstyle($mb:15px,$clr:white,$fs:50px,$fw:600,$lh:61px,$case:capitalize);

}
.work__text {
    @include textstyle($mb:0,$clr:white,$fs:11.5px,$fw:400,$lh:19px,$case:capitalize);
    text-align: center;
}